
.ass1-login {
    .ass1-login__content {
        // title
        p {
          font-size: 22px;
          color: gray;
          word-spacing: -2px;
        }

        .ass1-login__form {
            form {
                .form__group {
                    margin-bottom: 30px;
                    position: relative;
                    input {
                        position: relative;
                    }
                    svg {
                        position: absolute;
                        right: 10px;
                        top: 30%;
                        cursor: pointer;
                        color: #a7a7a8;
                        font-size: 16px;
                    }
                    span.message {
                        position: absolute;
                        left: 4px;
                        font-weight: 400;
                        font-size: 14px;
                        color: rgb(250, 35, 35);
                        margin-top: 2px;
                    }
                }
            }
        }
    }
}