$breakpoint-tablet: 768px;

@mixin  postItemMore {
    .post_item-more{
        position: absolute;
        right: 6px;

        &:hover {
            span {
                background-color: rgb(228, 228, 228);
            }
            .list-group.post_item-list {
                display: block;
               
            }
        }
        span { 
            color: #787e86;
            cursor: pointer;
            width: 40px;
            height: 30px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;  
            transition: all ease 0.3s;
        }
      

        .list-group.post_item-list {
            display: none;
            position: absolute;
            top: 100%;
            z-index: 10;
            right: -4px;
            min-width: 190px;
            margin-top: 10px;
            font-size: 14px;
            box-shadow: 1px 2px 6px 1px #bbbbbb;
            transition: all ease 0.3s;
            &::before {
                content: "";
                position: absolute;
                display: block;
                top: -20px;
                width: 100%;
                height: 30px;
            }
            .list-group-item {
                color: rgb(87, 87, 87);
                border: unset;
                cursor: pointer;
                a {
                    color: rgb(87, 87, 87);
                    // text-decoration: none;
                }
                &:hover {
                    background-color: rgb(223, 223, 223);
                }
            }
        }
    }
}
@mixin avatarUser() {
    overflow: hidden;
    margin-right: 16px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid #c6c6c6;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
@mixin  postTimeCreated {
    word-spacing: -2px;
    margin-right: 6px;
    font-size: 14px;
}
.load-more {
    display: block;
}

// List HomePage: ass1-section__list -> ass1-section__item -> ass1-section
.ass1-section__list {
    // List HomePage
    .ass1-section__item{
        .ass1-section {
            padding: 15px ;
            .ass1-section__head.read-only {
                .post_item_avatar, .post_item_info{
                    pointer-events: none;
                }
            }
            .ass1-section__head {
                position: relative;
                .post_item_avatar {
                   @include avatarUser();
                }
                .post_item_info {
                    .ass1-section__name {
                        mark {
                            padding: 4px 8px;
                            border-radius: 4px;
                            background-color: #27efd4;
                        }
                    }
                    .ass1-section__passed {
                        span {
                             @include postTimeCreated()
                        }
                       
                    }
                }

                @include postItemMore()
               
            }

            

            // end post recent
            .ass1-section__content {
                .ass1-section__text {
                    width: 100%;
                    overflow-wrap: break-word;
                    mark {
                        padding: 4px 8px;
                        border-radius: 4px;
                        background-color: #27efd4;
                    }
                }
                span.badge {
                    padding: 8px 12px;
                    color: rgb(71, 71, 71);
                    background-color: #eeeeee;
                     &:hover {
                         color: #fff;
                         background-color: #787f85;
     
                     }
                }
            }
        }
        
    }
    // // Post Detail: ass1-section__list ->ass1-section -> head,content,footer,emotion
    .ass1-section {
        padding: 15px;
       
        .ass1-section__head {
            position: relative;
            .post_item_avatar {
                @include avatarUser()
            }
            .post_item_info {
                .ass1-section__name {
                    text-decoration: none;
                }
                .ass1-section__passed {
                    span {
                        @include postTimeCreated()
                    }
                   
                }
            }
            @include postItemMore()
        }
        .ass1-section__content {
            a.post__category {
                margin-right: 6px;
                span {
                    padding: 8px 12px;
                   color: rgb(71, 71, 71);
                   background-color: #eeeeee;
                    &:hover {
                        color: #fff;
                        background-color: #787f85;
    
                    }
                }
                
            }
        }
        .list-group {
            margin-top: 20px;
            margin-bottom: 20px;
            .list-group-item {
                flex-grow: 1;
                font-weight: 600;
                &:hover {
                    background-color: rgba(157, 157,157,0.16);
                }
                svg {
                    margin-right: 4px;
                }
            }
            // @media (max-width: $breakpoint-tablet) {
            //     .list-group-item {
            //         display: flex;
            //         align-items: center;
            //         justify-content: center;
            //         svg {
            //             margin-right: 2px;
            //         }
            //     }
            // }
        }
    }

    // Add Comment
    .ass1-add-comment {
        .form-group {
            .form-row {
                flex-wrap: nowrap;
                align-items: center;
                .post_item_avatar {
                    @include avatarUser();
                    display: flex;
                    align-items: center;
                }
            }
        }
        a {
            text-decoration: none;
        }
        svg {
            color: #818182;
        }
        .ass1-add-comment__content {
            margin-top: 30px;
        }
        
    }

    // List Comment
    .ass1-comments {
        background: #ffffff;
        padding: 15px;
        border-radius: 6px;
        svg {
            color: #818182;
        }
        .ass1-comments__head{
            padding: 8px;
            justify-content: space-between;
            .ass1-comments__title {

            }
            .ass1-comments__options {
                display: flex;
                align-items: center;
                width: 34%;
                .form-icon {
                    margin-left: 10px;
                    cursor: pointer;
                    font-size: 20px;
                    padding: 4px 10px;
                    border-radius: 8px;
                    &:hover {
                        background-color: #dadada;
                        
                    }
                }
                .form-icon__sortUp.active {
                    background-color: #dadada;
                }
                .form-icon__sortDown.active {
                    background-color: #dadada;
                }
            }
        }
        //
        .ass1-comments__section {
            background: #eef3f6;
            padding: 18px;
            border-radius: 20px;
            a {
                text-decoration: none;
            }
            .post_item_avatar {
                @include avatarUser()
            }
            .ass1-comments__content {
                width: calc(100% - 60px);
                word-wrap: break-word;
                .ass1-comments__name {
                    margin-right: 6px;
                    letter-spacing: -1px;
                }
                .ass1-comments__passed {
                    letter-spacing: -1px;
                    font-size: 16px;
                }

            }
        }
    }
}

// Post Card Info author
.ass1-section__list {
  
    &.stickySidebar {
         // sticky for homepage
        position: -webkit-sticky;
        position: sticky;
        top: 20px;
    }
    .post__info-author.card {
         
        a {
            display: flex;
            justify-content: center;
            margin-top: 14px;
            .post_item_avatar {
                @include avatarUser();
                width: 120px;
                height: 120px;

            }
        }
        .card-body {
           
            .card-text {
                 margin-bottom: 8px;
                 span {
                    font-weight: 400;
                    color: rgb(90, 90, 90);
                    margin-right: 4px;
                }
            }
            .ass1-section {
                cursor: pointer;
                box-shadow: 0px 2px 6px -2px #666666a6;
                &:hover {
                    font-weight: 500;
                    background-color: rgb(238, 252, 252);
                }
                .ass1-section__content--post-recent {
                    display: flex;
                    align-items: center;
                    span {
                        order: 2;
                        flex: 1;
                    }

                    .ass1-section__text {
                        order: 2;
                        margin-bottom: unset;
                        display: -webkit-box;
                        font-size: 14px;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;  
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .ass1-section__image{
                        margin-right: 10px;
                        margin-top: unset;
                       
                        a {
                            margin-top: unset;
                          
                            img {
                                width: 110px;
                                height: 64px;
                                object-fit: cover;
                            }
                        }
                       
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
        
    }
    
    
}

